<% layout('layouts/boilerplate') %> 
<form action="/admin/update/collection/<%=collection._id%>/<%=collection.collectionName%>" id="description-form" method="POST" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" value="<%= collection.description.title %>">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" rows="3"><%=collection.description.description%></textarea>
    <input type="text" id="orders" name="orders" style="display:none">
    <div class="mb-3">
        <label for="cover-image" class="form-label">Cover</label>
        <input type="file" class="form-control" name="cover" id="cover-img" onchange="preview()">
        <!-- shows cover image -->
        <img id="frame" src="<%=collection.cover.thumbnailUrl%>" class="img-fluid" />
    </div>

    <div class="upload_box">
        <div class="mb-3">
            <label for="image" class="form-label">Images</label>
            <input type="file" class="form-control upload-art-works" name="image" id="image" onchange="previews()" multiple>
        </div>
        <div id="upload-group"></div>
        <button type="btn" class="btn btn-success">Save</button>
    </div>
</form>

<div class="row" id="grid-card">
    <% for(let artwork of collection.artworks) {%> 
        <div class="col-md-6" data-id="<%=artwork.order%>">
            <form action="/admin/artwork/<%= artwork._id%>?_method=DELETE" method="POST" class="delete_button">
                <button type="btn" class="btn btn-danger" value="<%= artwork.fileName %>"><i class="fa fa-times"></i></button>
            </form>
            <div class="thumbnail">
                <img src="<%= artwork.thumbnailUrl%>">
            </div>
        </div>
    <% } %>
</div>

<div>
    <a href="/admin/portfolio" class="outertext">
    <i class="fas fa-angle-left fa-shake nav-arrow" aria-hidden="true">
    </i>
    </a>
</div>

<script>
    var imgHashMap = new Map();
    function previews() {
        // get list of the current dragged images
        var imgs = event.target.files
        console.log(event.target.files)
        console.log(`imgHashMap size:${imgHashMap.size}`)
        // find the element where we will append images to
        var uploads = document.getElementById("upload-group");
        for(var img of imgs) {
            // if already added skip
            if (imgHashMap.has(img.name)) {
                console.log('Existed')
                continue
            } 
            console.log(`img:${img}`)
            imgHashMap.set(img.name, img)
            // var html = document.createElement("img")
            // html.src = URL.createObjectURL(img)
            var image = createImage(img)
            uploads.appendChild(image)
        }
        console.log('imgHashMap')
        for(var img of imgHashMap)
            console.log(`img:${img}`)
        
        updateFileList()
    }

    function createImage(imgSrc){
        var div = document.createElement("div")
        var image = document.createElement("img")
        var closeButton = document.createElement("button");
        closeButton.data = imgSrc.name;
        closeButton.classList.add("btn-close")
        closeButton.type = "button"
        closeButton.onclick = function() {
            console.log(`Deleting ${this.data}`)
            imgHashMap.delete(imgSrc.name)
            closeButton.parentNode.parentNode.removeChild(closeButton.parentNode)
            updateFileList()
        }
        image.src = URL.createObjectURL(imgSrc)
        div.appendChild(image)
        div.appendChild(closeButton)
        return div
    }
    function updateFileList(){
        const input = document.getElementById("image")
        let list = new DataTransfer()
        for(const [imgName, imgFile] of imgHashMap.entries()) {
            console.log(`iter res: ${imgName} : ${imgFile}`)
            let file = new File([imgFile], imgName)
            list.items.add(file)
        }
        let myFileList = list.files
        input.files = myFileList
    }
</script>