<% layout('layouts/boilerplate') %> 
<p>You must be login to see this TODO: Change this to flash later and add edit boiler plate</p>
<div class="row">
<!-- Hover with text and link example -->
    <p>Showing art works</p>
    <% for(let collection of collections) { %>
        <div class="col col-12 col-md-6 p-3">
            <a href="/admin/<%= collection.collectionName%> " title="Click To View Series">
                <img src="<%= collection.cover.thumbnailUrl%>" class="img-thumbnail p-0">
                <!-- <div class="overlay">
                    <p class="overlay-text"><%=collection.collectionName%> <br> <i class="fa-solid fa-grip"></i></p> 
                </div> -->
            </a>
            <form action="/admin/<%= collection.collectionName %>?_method=DELETE" method="POST" style="margin-bottom: 25px">
                <label for="name">Name</label>
                <input type="text" class="form-control" value="<%= collection.collectionName %> ">
                <button type="btn" class="btn btn-danger" value="<%= collection.collectionName %>">Delete</button>
            </form>
        </div>   
    <% } %> 
</div>
<form action="/admin/create-collection" class="position-fixed bottom-0 end-0 mb-5 mx-4" method="GET">
    <button class="btn btn-success">+</button>
</form>
<form action="/admin/all?_method=DELETE" method="POST" style="margin-bottom: 25px">
    <button type="btn" class="btn btn-danger">Delete All</button>
</form>

<script>
    let buttons = document.querySelectorAll('.btn-danger');
    buttons.forEach(button => {
        button.onclick = (event) => confirm(`You are about to delete the collection ${button.value}, do you want to proceed?`);
    })
</script>