<% layout('layouts/boilerplate') %> 
<p>You must be login to see this TODO: Change this to flash later and add edit boiler plate</p>
<div class="row" id="grid-card">
<!-- Hover with text and link example -->
    <p>Showing art works</p>
    <% for(let collection of collections) { %>
        <div class="col-md-6" data-id="<%= collection.order%>">
            <form action="/admin/<%= collection.collectionName %>?_method=DELETE" method="POST" class="delete_button">
                <button type="btn" class="btn btn-danger" value="<%= collection.collectionName %>"><i class="fa fa-times"></i></button>
            </form>
            <div class="thumbnail"> 
                <img src="<%= collection.cover.thumbnailUrl%>">
                <!-- <div class="overlay"> -->
                    <a href="/admin/<%= collection.collectionName%> " class="work-link-edit"  title="Click To View Series">
                        <div class="text">
                            <p class=<%= collection.cover.isHorizontal ? "work-link" : "work-link-verti" %>><%=collection.collectionName%><br/>
                                <i class="glyphicon glyphicon-th"></i>
                            </p>
                        </div>
                    </a>
                <!-- </div> -->
            </div>
        </div>
    <% } %> 
</div>
<form action="/admin/create-collection" class="fixed-bottom" method="GET">
    <button class="btn btn-success">+</button>
</form>
<form action="/admin/all?_method=DELETE" method="POST" class="position-absolute bottom-0 start-50 translate-middle-x">
    <button type="btn" class="btn btn-danger">Delete All</button>
</form>
<form action="/admin/reorder/portfolio" method="POST" class="">
    <input type="text" id="orders" name="orders">
    <button type="btn" class="btn btn-success" style="display:none" id="save-button">Save</button>
</form>
<script>
    let buttons = document.querySelectorAll('.btn-danger');
    buttons.forEach(button => {
        button.onclick = (event) => confirm(`You are about to delete the collection ${button.value}, do you want to proceed?`);
    })
</script>