<% layout('layouts/boilerplate') %> 
<form action="/admin/update/collection/<%=collection._id%>/<%=collection.collectionName%>" id="description-form" method="POST" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" value="<%= collection.description.title %>">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" rows="3"><%=collection.description.description%></textarea>
    <input type="text" id="orders" name="orders" style="display:none">
    <div class="input-group mb-3">
        <label for="cover-image">Cover</label>
        <input type="file" class="form-control" name="cover">
    </div>
    <div class="input-group mb-3">
        <label for="image">Images</label>
        <input type="file" class="form-control" name="image" id="image" multiple>
    </div>
    <button type="btn" class="btn btn-success">Save</button>
</form>

<div class="row" id="grid-card">
    <% for(let artwork of collection.artworks) {%> 
        <div class="col-md-6" data-id="<%=artwork.order%>">
            <form action="/admin/artwork/<%= artwork._id%>?_method=DELETE" method="POST" class="delete_button">
                <button type="btn" class="btn btn-danger" value="<%= artwork.fileName %>"><i class="fa fa-times"></i></button>
            </form>
            <div class="thumbnail">
                <img src="<%= artwork.thumbnailUrl%>">
            </div>
        </div>
    <% } %>
</div>

<div>
    <a href="/admin/portfolio" class="outertext">
    <i class="fas fa-angle-left fa-shake nav-arrow" aria-hidden="true">
    </i>
    </a>
</div>

<script>
    let buttons = document.querySelectorAll('.btn-danger');
    buttons.forEach(button => {
        button.onclick = (event) => confirm(`You are about to delete the file ${button.value}, do you want to proceed?`);
    })
</script>