<!DOCTYPE html>
<html>
    <head>
    <title>Work Page | Humming Sang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Humming Sang, UCSD, Visual Artist">
    <meta name="keywords" content="humming, sang, ucsd, visual artist, artist">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="icon"       type="image/png"      href="images/logo/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <meta name="author" content="Humming Sang">
    <link href="https://fonts.googleapis.com/css?family=Expletus+Sans:400,700i" rel="stylesheet">
    <script type="text/javascript" src="./js/anime.js"></script>
    <script src="https://kit.fontawesome.com/8fe70c1657.js" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link  href="/fancybox/src/css/jquery.fancybox.min.css" rel="stylesheet">
    <script src="/fancybox/src/js/jquery.fancybox.min.js"></script>
  </head>

    <body onload="getYear()">
        <div id="wrap">
            <div id="main">
                <% if(typeof admin === 'undefined') { %>
                    <%-include('../partials/navbar') %> 
                <%} else {%>
                    <%-include('../partials/admin-navbar') %> 
                <% } %>
                <div class="container">
                    <%-include('../partials/flash')%>
                    <%- body  %> 
                </div>
            </div>
        </div>
        
        <!-- <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/javascripts/validateForms.js"></script>
    </body>
    <%-include('../partials/footer') %> 
</html>