<% layout('layouts/boilerplate') %> 

<div class="row">
<!-- Hover with text and link example -->
    <% for(let collection of collections) { %>
        <div class="col-md-6">
            <div class="thumbnail"> 
                <img src="<%= collection.cover.thumbnailUrl%> ">
                <div class="overlay" style= "width: <%= collection.cover.thumbnailWidth + 15 %>px; height: <%= collection.cover.thumbnailHeight + 15 %>px;">
                <a href="/<%= collection.collectionName%> " class="work-link" title="Click To View Series">
                    <div class="text" style= "width: <%= collection.cover.thumbnailWidth + 15 %>px; height: <%= collection.cover.thumbnailHeight + 15 %>px;">
                    <p class="work-link"><%= collection.collectionName %><br/>
                        <i class="glyphicon glyphicon-th"></i>
                    </p>
                    </div>
                </a>
                </div>
            </div>
        </div>
    <% } %> 
</div>